<header id="header-sticky" class="header-normal">
    <div class="header-area">
        <div class="container">
            <div class="position-relative">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="index.html"> <img src="img/logo/logo.png" alt=""> </a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 position-static">
                        <div class="main-menu red-menu text-center">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="index.html">Home</a>

                                    </li>
                                    <li><a href="services.html">Services</a>

                                    </li>

                                    <li><a href="team.html">Team</a>

                                    </li>
                                    <li><a href="about.html">About</a>

                                        <ul class="submenu">
                                            <li><a href="about.html">About us</a></li>
                                            <li><a href="faq.html">F.A.Q</a></li>

                                        </ul>

                                    </li>

                                    <li><a href="contact.html">Contact</a>

                                    </li>


                                    <li><a href="#">Pages</a>
                                        <ul class="submenu">
                                            <li class="menu-item-has-children">
                                                <a href="about.html">About</a>
                                                <ul class="submenu">
                                                    <li><a href="about.html">About Us 01</a></li>
                                                    <li><a href="about-2.html">About Us 02</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="services.html">Services</a>

                                            </li>
                                            <li><a href="price.html">Pricing</a></li>
                                            <li><a href="faq.html">Faq</a></li>
                                            <li class="menu-item-has-children"><a href="contact.html">Contact Us</a>
                                                <ul class="submenu">
                                                    <li><a href="contact.html">Contact</a></li>
                                                    <li><a href="contact-standart.html">contact standart</a></li>
                                                    <li><a href="contact-minimal.html">contact minimal</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="process.html">Process</a></li>
                                            <li class="menu-item-has-children"><a href="team.html">Team</a>
                                                <ul class="submenu">
                                                    <li><a href="team.html">team 01</a></li>
                                                    <li><a href="team-2.html">team 02</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="register.html">Register</a></li>
                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                            <li><a href="404.html">404 Error</a></li>
                                        </ul>
                                    </li>

                                    <li class="static"><a href="elements-accordion.html">Elements</a>
                                        <ul class="mega-menu">
                                            <li class="mega-item">
                                                <a>Elements 1</a>
                                                <ul>
                                                    <li>
                                                        <a href="elements-accordion.html">Accordion</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-alerts.html">Alerts</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-badges.html">Badges</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-brand.html">Brand Logo</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-breadcrumbs.html">Breadcrumbs</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-buttons.html">Buttons</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mega-item">
                                                <a>Element 2</a>
                                                <ul>
                                                    <li>
                                                        <a href="elements-columns.html">columns</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-counter.html">Counter</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-contact-form.html">contact form</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-cta.html">Call to action</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-dropdowns.html">dropdowns</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-fancy-text.html">fancy text</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mega-item">
                                                <a>Elements 3</a>
                                                <ul>
                                                    <li>
                                                        <a href="elements-footer.html">footer</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-gallery.html">gallery</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-lightbox.html">lightbox</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-page-titles.html">page titles</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-post.html">Latest Post</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-progressbar.html">progressbar</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mega-item">
                                                <a>Elements 4</a>
                                                <ul>
                                                    <li>
                                                        <a href="elements-subscribe.html">subscribe</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-tab.html">Tab</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-tab.html">Team</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-testimonials.html">testimonials</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-tooltips.html">tooltips</a>
                                                    </li>
                                                    <li>
                                                        <a href="elements-typography.html">typography</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="blog.html">Blog Right Sidebar</a></li>
                                            <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                                            <li><a href="blog-2-column.html">Blog two Column 01</a></li>
                                            <li><a href="blog-2-column-2.html">Blog two Column 02</a></li>
                                            <li><a href="blog-2-column-mas.html">Blog two Col Masonry</a></li>
                                            <li><a href="blog-3-column.html">Blog Three Column</a></li>
                                            <li><a href="blog-3-column-mas.html">Blog Three Col Masonry</a></li>
                                            <li><a href="blog-details.html">Blog Image Details</a></li>
                                            <li><a href="blog-details-audio.html">Blog Audio Details</a></li>
                                            <li><a href="blog-details-video.html">Blog Video Details</a></li>
                                            <li><a href="blog-details-gallery.html">Blog Gallery Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop.html">Shop</a>
                                        <ul class="submenu">
                                            <li><a href="shop.html">Shop Default</a></li>
                                            <li><a href="shop-list.html">Shop List</a></li>
                                            <li><a href="product-details.html">Porduct Details</a></li>
                                            <li><a href="cart.html">Shopping Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu"></div>
                    </div>
                    <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                        <div class="header-btn text-right">
                            <a href="#" class="x-btn btn-border btn-squ">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>